<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:WsdlInterface" id="88123bec-3bb7-42b7-912a-8d95bccd9893" wsaVersion="NONE" name="CalculatorSoap" type="wsdl" bindingName="{http://tempuri.org/}CalculatorSoap" soapVersion="1_1" anonymous="optional" definition="http://www.dneonline.com/calculator.asmx?wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="88123bec-3bb7-42b7-912a-8d95bccd9893fileName">CalculatorSoap</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>http://www.dneonline.com/calculator.asmx</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="527878eb-283b-4313-b219-307ba41e6f56">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
