<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9a0ecb62-7be0-48e3-b015-c3489f28a241" name="Project 1 Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9a0ecb62-7be0-48e3-b015-c3489f28a241fileName">Project-1-Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="527878eb-283b-4313-b219-307ba41e6f56">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
